#azpspane {
    position: absolute;
    top: 10px;
    padding: 0 20px;
    overflow-y: scroll;
    height: 95%;
    right: 0;
}

#azpspane > div {
    border-bottom: 1px solid #AAA;
    padding-bottom: 1em;
}

#azpspane > div:nth-child(2) {
    background-color: #111;
}

#azpspane table {
    width: 100%;
    padding-top: 0.5em;
    border-collapse: collapse;
}

#azpspane tr:nth-child(2n+0) {
    background-color: #111;
}

#azpspane tr:nth-child(2n+1) {
    background-color: #000;
}

#azpspane td:nth-child(3),#azpspane td:nth-child(4) {
    text-align: right;
}

#azpspane table {
    margin-top: 0.5em;
}

.azpsgrey {
    color: grey;
}

.azpsicons {
    font-family: icons2, sans-serif;
}


.azpsplus {
    color: #8F8;
}

.azpsminus {
    color: #F88;
}